#cloud {
	float:left;
	height: 80vh;
}

#wrapper {
	float:left;
}

#list {
	height: 80vh;
	overflow: scroll;
	white-space: nowrap;
	max-width: 20vw;
}

#force {
	float:left;
}

.row-item {
	padding-bottom: 5px;
	padding-top: 5px;
}

.clicked {
    fill: black !important;
}

.link{
	stroke: #000;
	stroke-width: 1.5px;
	stroke-opacity: 0.6;
}

.node circle{
	cursor: move;
}

.list-item-clicked {
	background: rgba(0, 255, 0, 0.4);
}